<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Device</key>
		<integer>41328</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>100 Series (0xA170) Mobile PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Patches out AppleHDAController PCI ID check and replaces internal variable content with 9D70 to enable HDMI audio</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>DgAAvgIAAABIid8=</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DgAAuHCdAADrBpA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
		<key>WarmRebootFix</key>
		<true/>
	</dict>
</array>
</plist>
